<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row">

                    {% comment %} === Current Students: PhD === {% endcomment %}
                    <div class="col-md-6 mb-4">
                        <div class="mx-2 my-1">
                            <h6>PhD Students</h6>
                            <ul class="list-unstyled mb-1">
                                {% assign phds = site.data.team.students | where: "role", "PhD Student" %}
                                {% for item in phds %}
                                <li class="media mb-3">
                                    <i class="fas fa-user-graduate mr-2 mt-1 text-muted"
                                        style="width: 18px; text-align: center;"></i>
                                    <div class="media-body">
                                        <div class="small font-weight-bold">{{ item.name }}</div>
                                        <div class="small text-muted">{{ item.role }}</div>
                                        {% if item.thesis %}
                                        <div class="small text-muted"><em>{{ item.thesis }}</em></div>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {% comment %} === Current Students: Master === {% endcomment %}
                    <div class="col-md-6 mb-4">
                        <div class="mx-2 my-1">
                            <h6>Master's Students</h6>
                            <ul class="list-unstyled mb-1">
                                {% assign masters = site.data.team.students | where: "role", "Master Student" %}
                                {% for item in masters %}
                                <li class="media mb-3">
                                    <i class="fas fa-user-graduate mr-2 mt-1 text-muted"
                                        style="width: 18px; text-align: center;"></i>
                                    <div class="media-body">
                                        <div class="small font-weight-bold">{{ item.name }}</div>
                                        <div class="small text-muted">{{ item.role }}</div>
                                        {% if item.thesis %}
                                        <div class="small text-muted"><em>{{ item.thesis }}</em></div>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>

                <hr class="mt-2 mb-4">

                {% comment %} === Alumni === {% endcomment %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="mx-2 my-1">
                            <h6>Alumni</h6>
                            <div class="row mt-3">
                                {% for item in site.data.team.alumni %}
                                <div class="col-md-6 mb-3">
                                    <div class="media">
                                        <i class="fas fa-graduation-cap mr-2 mt-1 text-muted"
                                            style="width: 18px; text-align: center;"></i>
                                        <div class="media-body">
                                            <div class="small font-weight-bold">{{ item.name }}</div>
                                            <div class="small text-muted">{{ item.role }}</div>
                                            {% if item.thesis %}
                                            <div class="small text-muted"><em>{{ item.thesis }}</em></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>